.formButtons{
    background-color: #00adb5!important;
}

.secondaryFormButtons{
    background-color: #dc014e!important;
    width: 100%!important;
}

// .buttonClass{
//     color: #EEEEEE!important;
// }

.MuiButton-root {
    color: #EEEEEE!important;
    padding: 5px!important;
}


.MuiButton-contained{
    background-color: #00adb5;
}

