// .formButtons{
//     background-color: #00adb5!important;
// }

.formButtons{
    background-color: #00adb5!important;
}
.formButtonsInactive {
    background-color: #626969!important;
    opacity: .5;
}

// .buttonClass{
//     color: #EEEEEE!important;
// }

.MuiButton-root {
    color: #EEEEEE!important;
    padding: 5px!important;
}


.MuiButton-contained{
    background-color: #00adb5;
}

