.appbar{
    font-size: 20px;
    margin-bottom:.25%!important;
    background-color: #00adb5 !important;
}
.appbar a {
    color: #eeeeee ;
    text-decoration: none;
}

.appbar Button{
    padding-right: 20px!important;
    padding-left: 20px!important;
    text-align: center!important;
    height: 100%!important;
    margin: auto;
}
@media (max-width: 500px)
{
    .appbar{
        font-size: 15px;
        margin-bottom:.25%!important;
        background-color: #00adb5 !important;
    }
    .appbar a {
        color: #eeeeee ;
        text-decoration: none;
    }
    
}