.appbar{
    font-size: 20px;
    margin-bottom:.25%!important;
    background-color: #00adb5 !important;
}
.appbar a {
    color: #eeeeee ;
    text-decoration: none;
}

@media (max-width: 500px)
{
    .appbar{
        font-size: 15px;
        margin-bottom:.25%!important;
        background-color: #00adb5 !important;
    }
    .appbar a {
        color: #eeeeee ;
        text-decoration: none;
    }
    
}