.MuiTableCell-head{
    color: '#EEEEEE'!important;
}
.flightTable{
    width: '100%'!important;
}
.flightTable table{
    min-width: 650px!important;
    background-color: '#3a4750'!important;
    color: '#EEEEEE'!important;
}