.MuiTableCell-alignRight{
    text-align: left!important;
}

.MuiTableCell-head{
    color: '#EEEEEE'!important;
}

.flgihtTableContainer{
    position: absolute;
    text-align: center;
    left: 15%;
    right: 15%;
}

.flightTable{
    width: 100%!important;
    background-color: #3a4750;
}
.flightTable table{
    
    align-items: left;
    min-width: 650px!important;
    background-color: #3a4750;
    color: #00adb5!important;
    width: 100%;
    margin: 40px!important;
    padding: 40px!important;
}

.MuiTable-root{
    border-collapse:separate;
    //border:solid black 1px;
    border-radius:30px;
}

.MuiPaper-myRoot{
    background-color: #3a4750;
}

.MuiTableCell{
    color: #EEEEEE!important;
}

.flightTable tableCell {
    color: '#EEEEEE';
}