.logo{
    min-width: 50px;
    min-height: 50px;
    width: 200px;
    height: 100px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
    //background-image: url('../images/airplane.png');
    // margin: 0px; padding:0px;
    // margin: -25px 0 0 190px;
    // border:0px;
}