.cardClass{
    background-color:#3a4750 !important;
    color:#EEEEEE !important;
    text-indent: 1em !important;
}

.buttonClass{
    border-color:#00adb5 !important;
    color:#00adb5 !important;
    font-size: 30px !important;
    max-width: 100%;
    min-width: 30%;
}

.typogClass{
    font-weight: 300 !important;
    font-size: 20px !important;
}