.cardClass{
    background-color:#495a66 !important;
    color:#EEEEEE !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #EEEEEE !important;
}

.buttonClass{
    border-color:#3a4750 !important;
    color:#3a4750 !important;
    max-width: 80%;
    font-size: 10px !important;
}

.typogClass{
    font-weight: 300 !important;
    font-size: 6px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}