.MuiFormLabel-root{
    color: #EEEEEE!important;
}
.MuiInputBase-root{
    color: #EEEEEE!important;
}

.MuiInput-underline::before{
    border-bottom: 2px solid #EEEEEE!important;
}
.MuiInput-underline::after{
    border-bottom: 2px solid #00adb5!important;
}
.MuiButton-contained{
    background-color: #00adb5;
}