@import './_appbar.scss';
@import './shared/_fonts';
@import './_home.scss';


html, body {
    background-color: #303841;
    height:100%;
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

