@import './_appbar.scss';
@import './shared/_fonts';
@import './_home.scss';
@import './_signUp.scss';
@import './shared/_textField';
@import './_logo.scss';
@import './_flightTable.scss';
@import './_queriedTicketList';
@import './shared/_formCard';
@import './_flightDate';
@import './_datePicker';
@import './shared/_formButtons';
@import './_pathForm.scss';
@import './cardElement';
@import './checkoutCard.scss';
@import './ticketList.scss';

html, body {
    background-color: #303841;
    overflow: auto;
    color: #eeeeee;
    height:100%!important;
    width: 100% !important;
    margin:0px!important;
    padding:0px!important;
    font-family: 'Roboto', sans-serif!important;
  }

  